/*	
	Estilo del reloj que se muestra en el modelo
 */

.cont-reloj{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
	width: 100%
    border: 6px solid #fff;
    background: #e5e5e5;
    box-shadow:  -13px -13px 13px #fff, 
    15px 15px 15px rgba(13,39,80,.26),
    inset -13px -13px 13px #fff, 
    inset 15px 15px 15px rgba(13,39,80,.26);
    border-radius:10px;
    font-weight: bold;
    font-family: sans-serif;
    color: #009339;
}
.reloj{
	font-size: 1.5em;
}

.datos{
	font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
}
