/*	
	Estilos del muestreo de las imagenes de olivos
 */
 
 /* Clase que da estilo de selección a una foto del meno mas fotos */
.selected{
    box-shadow:0px 12px 22px 1px #333;
}

/* Centra los botones y el marco con la foto */
ul, menu {
	margin:0;
	padding:0;
}

/* Oculta los botones */
input {
	display: none;
}

#slider {
	display: flex;
	margin: 0 auto;
	width: 360px;
	height: 360px;
	background: #222;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 1);
	border-radius: 3px;
}


#slider .inner {
	display: flex;
	transition: 0.5s ease-in;
}

#slider .inner li {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 360px;
	height: 360px;
}

#slider .inner li .img_container {
	position: relative;
	width: 320px;
	height: 320px;
}

#slider .inner li img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	max-width: 320px;
	max-height: 320px;
	width: auto;
	height: auto;
	transition: all 0.5s;
}

/* Controla la posicion de los botones de cambio de imagen */
#slider-controler {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 30px;
}

/* Controla el formato de los botones de cambio de imagen */
#slider-controler li {
	display: block;
	margin: 10px 3px 0;
	width: 24px;
	height: 24px;
	background-image: radial-gradient(rgba(216, 164, 109, 1) 30%, rgba(216, 164, 109, 0) 36%);
	background-color: rgba(0, 0, 0, 0.2);
	background-repeat: no-repeat;
	border-radius: 50%;
	vertical-align: middle;
	cursor: pointer;
	-webkit-appearance: none;
	text-align: center;
	line-height: 1;
	font-size: 14px;
	color: #aaa;
}


#slider-controler li label {
	display: block;
	width: 100%;
	height: 100%;
}

/* Coloca un puntero de seleccion sobre los botones de cambio de imagen */
#slider-controler li label:hover {
	cursor: pointer;
}


/* Pone en gris a las imagenes no principales */
.inner li img {
	filter: grayscale(100);
}

/* Coloca la centra en color y el resto en gris, a no ser que te pongas sobre ellas */
input#image1:checked ~ #slider .inner li:nth-child(1) img,
input#image2:checked ~ #slider .inner li:nth-child(2) img,
input#image3:checked ~ #slider .inner li:nth-child(3) img,
input#image4:checked ~ #slider .inner li:nth-child(4) img,
input#image5:checked ~ #slider .inner li:nth-child(5) img,
input#image6:checked ~ #slider .inner li:nth-child(6) img,
input#image7:checked ~ #slider .inner li:nth-child(7) img,
input#image8:checked ~ #slider .inner li:nth-child(8) img,
input#image9:checked ~ #slider .inner li:nth-child(9) img,
.sim-anim-1:hover img,
.sim-anim-2:hover img,
.sim-anim-3:hover img,
.sim-anim-4:hover img,
.sim-anim-5:hover img,
.sim-anim-6:hover img,
.sim-anim-7:hover img,
.sim-anim-8:hover img,
.sim-anim-9:hover img{
	filter: grayscale(0);
}


/* Coloca las imagenes y las traslada al centro al seleccionarlas */
input#image1:checked ~ #slider .inner {transform: translatex(0px);}
input#image2:checked ~ #slider .inner {transform: translatex(-360px);}
input#image3:checked ~ #slider .inner {transform: translatex(-720px);}
input#image4:checked ~ #slider .inner {transform: translatex(-1080px);}
input#image5:checked ~ #slider .inner {transform: translatex(-1440px);}
input#image6:checked ~ #slider .inner {transform: translatex(-1800px);}
input#image7:checked ~ #slider .inner {transform: translatex(-2160px);}
input#image8:checked ~ #slider .inner {transform: translatex(-2520px);}
input#image9:checked ~ #slider .inner {transform: translatex(-2880px);}


#slider-controler li {
	background-position: 24px 0;
	transition: background-position .15s cubic-bezier(.8, 0, 1, 1), transform .25s cubic-bezier(.8, 0, 1, 1);
}

/* Coloca el punto del menu en la posicion correcta */
input#image1:checked ~ #slider-controler li:nth-child(1),
input#image2:checked ~ #slider-controler li:nth-child(2),
input#image3:checked ~ #slider-controler li:nth-child(3),
input#image4:checked ~ #slider-controler li:nth-child(4),
input#image5:checked ~ #slider-controler li:nth-child(5),
input#image6:checked ~ #slider-controler li:nth-child(6),
input#image7:checked ~ #slider-controler li:nth-child(7),
input#image8:checked ~ #slider-controler li:nth-child(8),
input#image9:checked ~ #slider-controler li:nth-child(9) {
	background-position: 0 0;
}
input#image1:checked ~ #slider-controler li:nth-child(1) ~ li,
input#image2:checked ~ #slider-controler li:nth-child(2) ~ li,
input#image3:checked ~ #slider-controler li:nth-child(3) ~ li,
input#image4:checked ~ #slider-controler li:nth-child(4) ~ li,
input#image5:checked ~ #slider-controler li:nth-child(5) ~ li,
input#image6:checked ~ #slider-controler li:nth-child(6) ~ li,
input#image7:checked ~ #slider-controler li:nth-child(7) ~ li,
input#image8:checked ~ #slider-controler li:nth-child(8) ~ li,
input#image9:checked ~ #slider-controler li:nth-child(9) ~ li {
	background-position: -24px 0;
}
